body{
    background-color: #edeff5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.spinner{
    border: 8px solid rgba(16, 36, 94,0.5);
    border-top-color: rgb(1, 22, 82);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    animation: spin 1s linear infinite;
}
.spinner1{
    border: 8px solid rgba(16, 36, 94,0.5);
    border-top-color: rgb(1, 22, 82);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    animation: spin 2s linear infinite;
}
.spinner2{
    border: 8px solid rgba(16, 36, 94,0.5);
    border-top-color: rgb(1, 22, 82);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    animation: spin 3s linear infinite;
}
@keyframes spin {
    to{
        transform:rotate(360deg);
    }
}