h1
{
    text-align: center;
    margin-top: 130px;
    font-family: arial;
    font-size: 8em;
    line-height: 1em;
    color: #060638;
    text-shadow: 0 1px 0 #040461,
                 0 2px 0 #040461,
                 0 3px 0 #040461,
                 0 4px 0 #040461,
                 0 30px 5px rgba(0,0,0,.1);
    animation: Boiando 5s linear infinite;             
}
@keyframes Boiando
{
    0%, 100%
    {
        transform: rotate(10deg);
    }

    25%, 75%
    {
        transform: rotate(0deg);
    }

    50%
    {
        transform: rotate(-10deg);
    }
}