body {
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
    height: 100%;
    background: #480a82;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    color:#c095e6;
}

.cont {
    height: 100%;
    width: 50%;
    background:#c095e6;
    overflow:hidden;
    color: #480a82;
    position: absolute;
    top: 0;
    left: 0;
    border-right: 2px solid #240540;
}

.text {
    position: absolute;
    top: 50%;
    white-space:nowrap;
    font-size: 12em;
    line-height: 220px;
    overflow: hidden;
    font-family: 'Anton', sans-serif;
    animation: animacao 25s linear infinite;
}

@keyframes animacao {
    0% {
        transform: translate(0, -50%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}