body {
    margin: 0;
    padding: 0;
  }
  
  .alinhamento {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cont {
    height: 100vh;
    background: #f73b3b
  }
  
  .texto {
    font-family: 'Fredericka the Great', cursive;
    font-size: 120px;
    color: black;
    position: relative;
    right: 30px;
  }
  
  .texto::before {
    content: "";
    position: absolute;
    width: 110px ;
    height: 110px;
    background-repeat: no-repeat;
    left: 320px; 
    top: 55px;
    animation: icons 3s linear infinite;
  }
  
  @keyframes icons {
    0%, 49% {
      background-image: url(image/code.png);
    }
    50%, 74% {
      background-image: url(image/dog.png);
    }
    75%, 99% {
      background-image: url(image/icons.png);
    }
  }
  