* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #e8fbff;
    justify-content: center;
    align-items: center;
}
#frase{
    font-size: 20px;
    margin-top: 10%;
    margin-left: -25%;
    
}
#fraseUm{
    font-size: 12px;
    margin-top: 14%;
    margin-left: -8%;
}
ul {
    color: #000000;
    font-family: 'Lobster', cursive;
    font-size: 5rem;
    display: flex;
    align-items: center;
    margin-left: 20%;
}

li {
    margin: 0 8px;
    list-style: none;
    animation: luz 4s linear infinite;
    
}

@keyframes luz {
    0% {
        color: #000000;
        text-shadow: none;
    }
    
    90% {
        color: #000000;
        text-shadow: none;
    }

    100% {
        color: #071db8;
        text-shadow: 0 0 7px #00ffff, 0 0 40px #007bff;
    }
}

#um{
    animation-delay: 0;
}
#dois{
    animation-delay: 0.2s;
}
#tres{
    animation-delay: 0.4s;
}
#quatro{
    animation-delay: 0.6s;
}
#cinco{
    animation-delay: 0.8s;
}
#seis{
    animation-delay: 1.0s;
}
#sete{
    animation-delay: 1.2s;
}
#oito{
    animation-delay: 1.4s;
}
#nove{
    animation-delay: 1.6s;
}
#dez{
    animation-delay: 1.8s;
}
#onze{
    animation-delay: 2.0s;
}
#doze{
    animation-delay: 2.2s;
}
#treze{
    animation-delay: 2.4s;
}
#ponto{
    animation-delay: 2.6s;
}
#frase{
    animation-delay: 3.0s;
}
#fraseUm{
    animation-delay: 3.4s;
}
