body{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Lato', sans-serif;
	background-color: #e3f1ff
}

h1{
	font-size: 100px;
	text-align: center;
	text-transform: uppercase;
	background: url('image/use-o-ccfinderx-para-descobrir-se-alguem-copiou-os-seus-codigos-pela-internet.jpg');
	-webkit-background-clip: text;
	color: transparent;
	animation: text-background 20s linear infinite;
}

@keyframes text-background {

	from { background-position: 0 0 }

	to { background-position: 100% 100% }

} 