* {
    margin: 0;
    padding: 0;
}
.cont {
    height: 100vh;
}
.alinhamento{
    display: flex;
    align-items: center;
    justify-content: center;

}
img{
    width: 280px;
    height: 280px;
    animation: bate 1.3s infinite;
}

@keyframes bate{
    30% {
        transform: scale(1.4);
    }
}