*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #9cc5f7;
}
.image img{
    width: 150px;
    margin-left: 7%;
}
.carro img{
    margin-left: 5%;
    margin-top: -5%;
    width: 180px;

}
.asfalto {
    position: relative;
    width:120%;
    height: 160px;
    margin-left: -8%;
    margin-top: 18%;
    background: #525252;
    transform-origin: bottom;
    transform-style: preserve-3d;
    transform: perspective(500px) rotateX(30deg);
  }
  
  .asfalto:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width:120%;
    height: 10px;
    background: linear-gradient(
      90deg,
      rgba(255,255,255,.75) 0%,
      rgba(255,255,255,.75)70%,
      #525252 70%,
      #525252 100%
    );
    background-size: 120px;
    animation: estrada 0.5s linear infinite;
  }
  
  @keyframes estrada {
    0% {
      background-position: 0px;
    }
    100% {
      background-position: -120px;
    }
  }
  
  .asfalto:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 30px;
    background: #333;
    bottom: -30px;
    transform-origin: top;
    transform: perspective(500px) rotateX(-25deg);
  }
  