        *{
            padding: 0;
            border: 0;
            box-sizing: border-box;
        }
        .galeria{
            width: 100%;
            height: 100vh;
            position: relative;
            overflow: hidden;
        }
        img{
            width: 100%;
            height: 100vh;
        }

        .foto{
            position: absolute;
            opacity: 0;
            animation-name: animacao;
            animation-duration: 10s;
            animation-iteration-count: infinite;
        }
        .foto:nth-child(1){}
        .foto:nth-child(2){animation-delay: 5s;}
        .foto:nth-child(3){animation-delay: 10s;}
        .foto:nth-child(4){animation-delay: 15s;}
        @keyframes animacao{
            25%{
                opacity: 1;
                transform: scale(1.1,1.1);
            }
            50%{
                opacity: 0;
            }
        }

