body,
html{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #010114;
}
button {
    color: #fff;
    background-color: rgba(3, 3, 102,0.5);
	font-family: sans-serif;
	font-size: 40px;
    border: 0;
    border-radius: 4px;
	padding: 40px 80px;
	position: relative;
	transition: all 2s;
    overflow: hidden;
    cursor: pointer;
}

button:before {
	content: '✔️ Mais um dia finalizado';
	color: #0c0ceb;
    background-color: #c8c8fa;
    font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	transform: translateY(-100%);
	transition:all .5s;
}

button:hover:before {
	transform: translateY(0);
}